<?xml version="1.0"?>
<CFProjPrefs xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <projectPath>C:/Unity Game Resources/Unity Games/FPS Game working on Android/Assets</projectPath>
  <isIsntalled>true</isIsntalled>
  <wasShown>true</wasShown>
  <installedVer>1</installedVer>
</CFProjPrefs>